body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.form-container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #1d4ed8;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #2563eb;
}
.danger-btn {
    background: #dc2626;
}

.danger-btn:hover {
    background: #b91c1c;
}
.sort-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sort-btn {
    display: block;
    text-align: center;
    padding: 12px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.sort-btn:hover {
    background: #1d4ed8;
}
